.contact-gallery{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 25%;
    margin-right: 25%;
    display: inline-block;
}

.small{
    border:0px;
    padding: 0px;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left:60px;
    vertical-align: middle;
}

.small > a {
    width: inheret;
    height: inherit;
    object-fit: cover;
    margin: 0px;
}

a > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    margin: inherit;
}

img {
    z-index: 1;
}

.contact-text{
    margin-top: 50px;
    line-height: 10px;
}

.contact-img{
    height: 40vh;
    width: 100%;
    border: 0px ;
    padding: 0px;
    margin-top: 45px ;
}

.contact-img > img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}