.gallery {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.img-cont {
    border: 0px ;
    padding: 0px;
    display: inline-block;
    width: 225px;
    height: 225px ;
    margin: 45px 65px 0px;
    cursor: pointer;
}

.img-cont > a {
    width: inherit;
    height: inherit;
    object-fit: cover;
    margin: 0px;
}



a > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    margin: inherit;
}

img {
    z-index: 1;
    border-radius: 10%;
}

.row{
    display: block;
    width: 100%;
}
