.menu-icon{
    background: url("./menu.png");
}

.icon{
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: cover;
    margin: 0px 5px 5px 5px;
    vertical-align: middle;
}
